@using Radiostanciya.Models
@using Radiostanciya.ViewModels
@using Radiostanciya.ViewModels.PositionViewModels
@model IndexViewModel
@addTagHelper "*, Radiostanciya"
@{
    ViewData["Title"] = "Должности";
}
<h1>Список должностей</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FilterModal">
    Фильтры
</button>
@if (User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
        Добавить
    </button>
}
<div class="modal" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="FilterModalLabel">Фильтры</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <label class="control-label">Название: </label>
                    @Html.TextBox("Name", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })
                    <div class="form-inline">
                        <input type="submit" value="Поиск" class="btn btn-info" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br />
<div class="container-xl">
    <table class="table table-striped table-hover mx-auto" id="data">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Номер</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Название</a>
                </th>
                <th>
                    Оклад
                </th>
                <th>
                    Обязанности
                </th>
                <th>
                    Требования
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Position u in Model.Positions)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Name</td>
                    <td>@u.Salary</td>
                    <td>@u.Responsibilities</td>
                    <td>@u.Requirements</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <button class="editButton btn btn-primary">Управление</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.PageNumber - 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            }

            @if (Model.PageViewModel.TotalPages <= 10)
            {
                @for (var i = 1; i <= Model.PageViewModel.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                    </li>
                }
            }
            else
            {
                @if (Model.PageViewModel.PageNumber <= 5)
                {
                    for (var i = 1; i <= 7; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.TotalPages, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@Model.PageViewModel.TotalPages</a>
                    </li>
                }
                else if (Model.PageViewModel.PageNumber > Model.PageViewModel.TotalPages - 5)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">1</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    for (var i = Model.PageViewModel.TotalPages - 6; i <= Model.PageViewModel.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">1</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    for (var i = Model.PageViewModel.PageNumber - 2; i <= Model.PageViewModel.PageNumber + 2; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.TotalPages, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@Model.PageViewModel.TotalPages</a>
                    </li>
                }
            }

            @if (Model.PageViewModel.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.PageNumber + 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            }
        </ul>
    </nav>
</div>
<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование/Удаление</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" name="edit">
                    <h3>Управление данными</h3><br />
                    <table class="table">
                                      <tr>
                                          <td><label class="control-label">Номер</label></td>
                                          <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Название</label></td>
                                          <td colspan="2"><input type="text" name="name" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Оклад</label></td>
                                          <td colspan="2"><input type="text" name="sal" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Обязанности</label></td>
                                          <td colspan="2"><input type="text" name="res" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Требования</label></td>
                                          <td colspan="2"><input type="text" name="req" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><input type="button" name="del" value="Удалить" class="btn btn-danger" /></td>
                                          <td><input type="button" name="upd" value="Обновить" class="btn btn-warning" /></td>
                                      </tr>
                    </table>
                    <div id="msg_display"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Добавление записи</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <table class="table">
                        <tr>
                            <td><label class="control-label">Номер</label></td>
                            <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Название</label></td>
                            <td colspan="2"><input type="text" name="name" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Оклад</label></td>
                            <td colspan="2"><input type="text" name="sal" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Обязанности</label></td>
                            <td colspan="2"><input type="text" name="res" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Требования</label></td>
                            <td colspan="2"><input type="text" name="req" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Добавить" class="btn btn-success" /></td>
                        </tr>
                    </table>
                    <div id="msg_display"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function setSelectedRecord() {
            var selectedId = localStorage.getItem('selectedPositionId');
            if (selectedId) {
                var selectedRow = $('#data tbody tr').filter(function () {
                    return $(this).children('td')[0].textContent === selectedId;
                });
                if (selectedRow.length > 0) {
                    selectedRow.addClass('selected');
                    updateFormFields(selectedRow);
                }
            }
        }

        function updateFormFields(selectedRow) {
            $('input[name=number]').val(selectedRow.children('td')[0].textContent);
            $('input[name=name]').val(selectedRow.children('td')[1].textContent);
            $('input[name=sal]').val(selectedRow.children('td')[2].textContent);
            $('input[name=res]').val(selectedRow.children('td')[3].textContent);
            $('input[name=req]').val(selectedRow.children('td')[4].textContent);
        }

        setSelectedRecord();

        $('#data tbody tr').click(function () {
            $('#data tbody tr').removeClass('selected');
            updateFormFields($(this));
            $(this).addClass('selected');
            localStorage.setItem('selectedPositionId', $(this).children('td')[0].textContent);
        });

        $('button[data-target="#addModal"]').click(function () {
            // Очистка полей формы перед открытием модального окна
            $('#addModal input[name="name"]').val('');
            $('#addModal input[name="sal"]').val('');
            $('#addModal input[name="res"]').val('');
            $('#addModal input[name="req"]').val('');

            // Открытие модального окна
            $('#AddModal').modal('show');
        });
        // Обработчик кнопки "Добавить" в модальном окне добавления записи
        $('#addModal input[type="button"]').click(function () {
            // Ваш код добавления записи, например:
            $.getJSON('/Positions/Insert', {
                Name: $('#addModal input[name="name"]').val(),
                sal: $('#addModal input[name="sal"]').val(),
                res: $('#addModal input[name="res"]').val(),
                req: $('#addModal input[name="req"]').val(),
            })
                .done(function () {
                    // Добавьте этот блок кода
                    $('#AddModal').modal('hide');
                    location.reload();
                })
                .fail(function () {
                    alert('Произошла ошибка при добавлении записи.');
                });
        });

        $('input[name=del]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }
            $.getJSON('/Positions/Delete?id=' + $('input[name=number]').val(), null, function () {
                // Добавьте этот блок кода
                $('#editModal').modal('hide');
                location.reload();
            });
            $('.selected').remove();
            getMsg('Удалено');
        });

        $('input[name=upd]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }
            $.getJSON('/Positions/Update?id=' + $('input[name=number]').val() + '&name=' + $('input[name=name]').val() +
                '&sal=' + $('input[name=sal]').val() +
                '&res=' + $('input[name=res]').val() +
                '&req=' + $('input[name=req]').val(), null, function () {
                    // Добавьте этот блок кода
                    $('#editModal').modal('hide');
                    location.reload();
                });
            $('.selected').children('td')[1].textContent = $('input[name=name]').val();
            $('.selected').children('td')[2].textContent = $('input[name=sal]').val();
            $('.selected').children('td')[3].textContent = $('input[name=res]').val();
            $('.selected').children('td')[4].textContent = $('input[name=req]').val();
            getMsg('Обновлено');
        });

        function getMsg(msg) {
            if (msg == undefined)
                msg = 'Ошибка';
            $('#msg_display').text(msg);
            $('#msg_display').css('display', 'block');
            $('#msg_display').fadeOut(2000, function () {
                $('#msg_display').css('display', 'none');
            });
        }
        function isAdmin() {
            var isAdmin = '@ViewData["IsAdmin"]'.toLowerCase();
            return isAdmin === "true";
        }
        $('#editButton').click(function () {
            $('#editModal').modal('show');
        });
    });
</script>


