@using Radiostanciya.Models
@using Radiostanciya.ViewModels
@using Radiostanciya.ViewModels.PositionViewModels
@model IndexViewModel
@addTagHelper "*, Radiostanciya"
@{
    ViewData["Title"] = "Должности";
}
<h1>Список должностей</h1>
<form method="get">
    <div class="form-inline">
        @*<label class="control-label">Номер: </label>
            @Html.TextBox("Id", Model.IndexViewModel.SelectedId, htmlAttributes: new { @class = "form-control" })*@

        <label class="control-label">Название: </label>
        @Html.TextBox("Name", Model.FilterViewModel.SelectedName,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>
<br />
<div class="cell">
    @if (User.IsInRole("Admin"))
    {
        <button id="editButton" class="btn btn-primary">Редактировать</button>
    }
</div>
<div class="cell">
    <table class="table" id="data">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Номер</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Название</a>
                </th>
                <th>
                    Оклад
                </th>
                <th>
                    Обязанности
                </th>
                <th>
                    Требования
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Position u in Model.Positions)
            {
                <tr><td>@u.Id</td><td>@u.Name</td><td>@u.Salary</td><td>@u.Responsibilities</td><td>@u.Requirements</td></tr>
            }
        </tbody>
    </table>
    <page-link page-model="@Model.PageViewModel" page-action="Index"
               page-url-name="@(Model.FilterViewModel.SelectedName)"
               page-url-company="@(Model.FilterViewModel.SelectedId)"
               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование/Удаление записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" name="edit">
                    <h3>Редактирование данных</h3><br />
                    <table class="table">
                                      <tr>
                                          <td><label class="control-label">Номер</label></td>
                                          <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Название</label></td>
                                          <td colspan="2"><input type="text" name="name" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Оклад</label></td>
                                          <td colspan="2"><input type="text" name="sal" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Обязанности</label></td>
                                          <td colspan="2"><input type="text" name="res" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><label class="control-label">Требования</label></td>
                                          <td colspan="2"><input type="text" name="req" class="form-control" /></td>
                                      </tr>
                                      <tr>
                                          <td><input type="button" name="add" value="Добавить" class="btn btn-default" /></td>
                                          <td><input type="button" name="del" value="Удалить" class="btn btn-default" /></td>
                                          <td><input type="button" name="upd" value="Обновить" class="btn btn-default" /></td>
                                      </tr>
                    </table>
                    <div id="msg_display"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        function setSelectedRecord() {
            var selectedId = localStorage.getItem('selectedPositionId');
            if (selectedId) {
                var selectedRow = $('#data tbody tr').filter(function () {
                    return $(this).children('td')[0].textContent === selectedId;
                });
                if (selectedRow.length > 0) {
                    selectedRow.addClass('selected');
                    updateFormFields(selectedRow);
                }
            }
        }

        function updateFormFields(selectedRow) {
            $('input[name=number]').val(selectedRow.children('td')[0].textContent);
            $('input[name=name]').val(selectedRow.children('td')[1].textContent);
            $('input[name=sal]').val(selectedRow.children('td')[2].textContent);
            $('input[name=res]').val(selectedRow.children('td')[3].textContent);
            $('input[name=req]').val(selectedRow.children('td')[4].textContent);
        }

        setSelectedRecord();

        $('#data tbody tr').click(function () {
            $('#data tbody tr').removeClass('selected');
            updateFormFields($(this));
            $(this).addClass('selected');
            localStorage.setItem('selectedPositionId', $(this).children('td')[0].textContent);
        });

        $('input[name=add]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }
            $.getJSON('/Positions/Insert?name=' + $('input[name=name]').val() +
                '&sal=' + $('input[name=sal]').val() +
                '&res=' + $('input[name=res]').val() +
                '&req=' + $('input[name=req]').val(), null, function () {
                    // Добавьте этот блок кода
                    $('#editModal').modal('hide');
                    location.reload();
                });
            getMsg('Добавлено');
        });

        $('input[name=del]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }
            $.getJSON('/Positions/Delete?id=' + $('input[name=number]').val(), null, function () {
                // Добавьте этот блок кода
                $('#editModal').modal('hide');
                location.reload();
            });
            $('.selected').remove();
            getMsg('Удалено');
        });

        $('input[name=upd]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }
            $.getJSON('/Positions/Update?id=' + $('input[name=number]').val() + '&name=' + $('input[name=name]').val() +
                '&sal=' + $('input[name=sal]').val() +
                '&res=' + $('input[name=res]').val() +
                '&req=' + $('input[name=req]').val(), null, function () {
                    // Добавьте этот блок кода
                    $('#editModal').modal('hide');
                    location.reload();
                });
            $('.selected').children('td')[1].textContent = $('input[name=name]').val();
            $('.selected').children('td')[2].textContent = $('input[name=sal]').val();
            $('.selected').children('td')[3].textContent = $('input[name=res]').val();
            $('.selected').children('td')[4].textContent = $('input[name=req]').val();
            getMsg('Обновлено');
        });

        function getMsg(msg) {
            if (msg == undefined)
                msg = 'Ошибка';
            $('#msg_display').text(msg);
            $('#msg_display').css('display', 'block');
            $('#msg_display').fadeOut(2000, function () {
                $('#msg_display').css('display', 'none');
            });
        }
        function isAdmin() {
            var isAdmin = '@ViewData["IsAdmin"]'.toLowerCase();
            return isAdmin === "true";
        }
        $('#editButton').click(function () {
            $('#editModal').modal('show');
        });
    });
</script>


