@using Radiostanciya.Models
@using Radiostanciya.ViewModels
@using Radiostanciya.ViewModels.RecordViewModels
@model IndexViewModel
@addTagHelper "*, Radiostanciya"
@{
    ViewData["Title"] = "Записи";
}

<h1>Записи</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FilterModal">
    Фильтры
</button></br>

@if (User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
        Добавить
    </button>
}
<div class="modal" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="FilterModalLabel">Фильтры</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <label class="control-label">Название: </label>
                    @Html.TextBox("Name", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })
                    <label class="control-label">Исполнитель: </label>
                    @Html.TextBox("Per", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })
                    <label class="control-label">Альбом: </label>
                    @Html.TextBox("Album", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })<br>
                    <label class="control-label">Сотрудник: </label>
                    @Html.TextBox("Emp", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })
                    <label class="control-label">Жанр: </label>
                    @Html.TextBox("ganre", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })
                    <div class="form-inline">
                        <input type="submit" value="Поиск" class="btn btn-info" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container-xl">
    <table class="table table-striped table-hover" id="data">
        <thead>
            <tr>
                <th>
                    <a class="text-decoration-none" asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Номер</a>
                </th>
                <th>
                    <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Название</a>
                </th>
                <th>
                    <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PerformerSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Исполнитель</a>
                </th>
                <th>
                    <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.AlbumSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Альбом</a>
                </th>
                <th>
                    Год
                </th>
                <th>
                    <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.GenreSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Жанр</a>
                </th>
                <th>
                    <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Дата записи</a>
                </th>
                <th>
                    Продолжительность (мин)
                </th>
                <th>
                    <a class="text-decoration-none" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.EmployeeSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Сотрудник</a>
                </th>
                <th>
                    Рейтинг
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Record u in Model.Records)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Name</td>
                    <td>@Model.Performers.First(p => p.Id == u.PerformerId).Name</td>
                    <td>@u.Album</td>
                    <td>@u.Age</td>
                    <td>@Model.Genres.First(p => p.Id == u.GenreId).Name</td>
                    <td>@u.DFormat(u.RecordDate)</td>
                    <td>@u.TimeMin</td>
                    <td>@Model.Employees.First(p => p.Id == u.EmployeeId).Name</td>
                    <td>
                        @if (u.Rating == 5)
                        {
                            <span class="badge badge-pill badge-success">@u.Rating</span>
                        }
                        else if (u.Rating > 2)
                        {
                            <span class="badge badge-pill badge-danger">@u.Rating</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-warning">@u.Rating</span>
                        }
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <button class="editButton btn btn-primary">Управление</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.PageNumber - 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            }

            @if (Model.PageViewModel.TotalPages <= 10)
            {
                @for (var i = 1; i <= Model.PageViewModel.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                    </li>
                }
            }
            else
            {
                @if (Model.PageViewModel.PageNumber <= 5)
                {
                    for (var i = 1; i <= 7; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.TotalPages, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@Model.PageViewModel.TotalPages</a>
                    </li>
                }
                else if (Model.PageViewModel.PageNumber > Model.PageViewModel.TotalPages - 5)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">1</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    for (var i = Model.PageViewModel.TotalPages - 6; i <= Model.PageViewModel.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">1</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    for (var i = Model.PageViewModel.PageNumber - 2; i <= Model.PageViewModel.PageNumber + 2; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.TotalPages, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@Model.PageViewModel.TotalPages</a>
                    </li>
                }
            }

            @if (Model.PageViewModel.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.PageNumber + 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            }
        </ul>
    </nav>
</div>

<div class="modal modal-fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование/Удаление</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Форма для редактирования/удаления записи -->
                <form id="editForm" name="edit">
                    <h3>Управление данными</h3><br />
                    <table class="table">
                        <tr>
                            <td><label class="control-label">Номер</label></td>
                            <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Название</label></td>
                            <td colspan="2"><input type="text" name="name" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Исполнитель</label></td>
                            <td colspan="2">
                                <select name="per">
                                    @foreach (Performer b in Model.Performers)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Альбом</label></td>
                            <td colspan="2"><input type="text" name="album" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Год</label></td>
                            <td colspan="2"><input type="number" name="year" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Жанр</label></td>
                            <td colspan="2">
                                <select name="genre">
                                    @foreach (Genre b in Model.Genres)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Дата записи</label></td>
                            <td colspan="2"><input type="date" name="d" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Продолжительность</label></td>
                            <td colspan="2"><input type="number" name="t" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Сотрудник</label></td>
                            <td colspan="2">
                                <select name="emp">
                                    @foreach (Employee b in Model.Employees)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Рейтинг</label></td>
                            <td colspan="2"><input type="number" name="rating" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="del" value="Удалить" class="btn btn-danger" /></td>
                            <td><input type="button" name="upd" value="Обновить" class="btn btn-warning" /></td>
                        </tr>
                    </table>
                    <div id="msg_display"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Добавление записи</h5>
                <<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <table class="table">
                        <tr>
                            <td><label class="control-label">Номер</label></td>
                            <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Название</label></td>
                            <td colspan="2"><input type="text" name="name" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Исполнитель</label></td>
                            <td colspan="2">
                                <select name="per">
                                    @foreach (Performer b in Model.Performers)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Альбом</label></td>
                            <td colspan="2"><input type="text" name="album" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Год</label></td>
                            <td colspan="2"><input type="number" name="year" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Жанр</label></td>
                            <td colspan="2">
                                <select name="genre">
                                    @foreach (Genre b in Model.Genres)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Дата записи</label></td>
                            <td colspan="2"><input type="date" name="d" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Продолжительность</label></td>
                            <td colspan="2"><input type="number" name="t" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Сотрудник</label></td>
                            <td colspan="2">
                                <select name="emp">
                                    @foreach (Employee b in Model.Employees)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Рейтинг</label></td>
                            <td colspan="2"><input type="number" name="rating" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Добавить" class="btn btn-success" /></td>
                        </tr>
                    </table>
                    <div id="msg_display"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function setSelectedRecord() {
            var selectedId = localStorage.getItem('selectedRecordId');
            if (selectedId) {
                var selectedRow = $('#data tbody tr').filter(function () {
                    return $(this).children('td')[0].textContent === selectedId;
                });
                if (selectedRow.length > 0) {
                    selectedRow.addClass('selected');
                    updateFormFields(selectedRow);
                }
            }
        }

        function updateFormFields(selectedRow) {
            $('input[name=number]').val(selectedRow.children('td')[0].textContent);
            $('input[name=name]').val(selectedRow.children('td')[1].textContent);
            $('select[name=per]').val(selectedRow.children('td')[2].textContent);
            $('input[name=album]').val(selectedRow.children('td')[3].textContent);
            $('input[name=year]').val(selectedRow.children('td')[4].textContent);
            $('select[name=genre]').val(selectedRow.children('td')[5].textContent);
            $('input[name=d]').val(selectedRow.children('td')[6].textContent);
            $('input[name=t]').val(selectedRow.children('td')[7].textContent);
            $('select[name=emp]').val(selectedRow.children('td')[8].textContent);
            $('select[name=rating]').val(selectedRow.children('td')[9].textContent);
        }

        setSelectedRecord();

        $('#data tbody tr').click(function () {
            $('#data tbody tr').removeClass('selected');
            updateFormFields($(this));
            $(this).addClass('selected');
            localStorage.setItem('selectedRecordId', $(this).children('td')[0].textContent);
        });

        $('button[data-target="#addModal"]').click(function () {
            // Очистка полей формы перед открытием модального окна
            $('#addModal input[name="number"]').val('');
            $('#addModal input[name="name"]').val('');
            $('#addModal input[name="per"]').val('');
            $('#addModal input[name="album"]').val('');
            $('#addModal input[name="year"]').val('');
            $('#addModal select[name="genre"]').val('');
            $('#addModal select[name="d"]').val('');
            $('#addModal select[name="t"]').val('');
            $('#addModal select[name="emp"]').val('');
            $('#addModal select[name="rating"]').val('');

            // Открытие модального окна
            $('#AddModal').modal('show');
        });

        // Обработчик кнопки "Добавить" в модальном окне добавления записи
        $('#addModal input[type="button"]').click(function () {
            // Ваш код добавления записи, например:
            $.getJSON('/Records/Insert', {
                date: $('#addModal input[name="d"]').val(),
                time: $('#addModal input[name="t"]').val(),
                rating: $('#addModal input[name="rating"]').val(),
                end: $('#addModal input[name="end"]').val(),
                year: $('#addModal input[name="year"]').val(),
                album: $('#addModal input[name="album"]').val(),
                name: $('#addModal input[name="name"]').val(),
                genreId: $('#addModal select[name="genre"]').find(":selected").attr("id"),
                performerId: $('#addModal select[name="per"]').find(":selected").attr("id"),
                empId: $('#addModal select[name="emp"]').find(":selected").attr("id"),
            })
                .done(function () {
                    // Добавьте этот блок кода
                    $('#AddModal').modal('hide');
                    location.reload();
                })
                .fail(function () {
                    alert('Произошла ошибка при добавлении записи.');
                });
        });

        $('input[name=add]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }

            // Ваш код для добавления записи
            $.getJSON('/Records/Insert?empId=' + $('select[name=emp]').find(":selected").attr("id") +
                '&date=' + $('input[name=d]').val() +
                '&time=' + $('input[name=t]').val() +
                '&rating=' + $('input[name=rating]').val() +
                '&end=' + $('input[name=end]').val() +
                '&year=' + $('input[name=year]').val() +
                '&album=' + $('input[name=album]').val() +
                '&name=' + $('input[name=name]').val() +
                '&genreId=' + $('select[name=genre]').find(":selected").attr("id") +
                '&performerId=' + $('select[name=per]').find(":selected").attr("id")
                , null, function () {
                    // Добавьте этот блок кода
                    $('#editModal').modal('hide');
                    location.reload();
                });
            getMsg('Добавлено');
        });

        $('input[name=del]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }

            // Ваш код для удаления записи
            $.getJSON('/Records/Delete?id=' + $('input[name=number]').val(), null, function () {
                // Добавьте этот блок кода
                $('#editModal').modal('hide');
                location.reload();
            });
            $('.selected').remove();
            getMsg('Удалено');
        });

        $('input[name=upd]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }

            // Ваш код для обновления записи
            $.getJSON('/Records/Update?id=' + $('input[name=number]').val() +
                '&empId=' + $('select[name=emp]').find(":selected").attr("id") +
                '&date=' + $('input[name=d]').val() +
                '&time=' + $('input[name=t]').val() +
                '&rating=' + $('input[name=rating]').val() +
                '&end=' + $('input[name=end]').val() +
                '&year=' + $('input[name=year]').val() +
                '&album=' + $('input[name=album]').val() +
                '&name=' + $('input[name=name]').val() +
                '&genreId=' + $('select[name=genre]').find(":selected").attr("id") +
                '&performerId=' + $('select[name=per]').find(":selected").attr("id"), null, function () {
                    // Добавьте этот блок кода
                    $('#editModal').modal('hide');
                    location.reload();
                });
            $('.selected').children('td')[1].textContent = $('input[name=name]').val();
            $('.selected').children('td')[2].textContent = $('select[name=per]').val();
            $('.selected').children('td')[3].textContent = $('input[name=album]').val();
            $('.selected').children('td')[4].textContent = $('input[name=year]').val();
            $('.selected').children('td')[5].textContent = $('select[name=genre]').val();
            $('.selected').children('td')[6].textContent = $('input[name=d]').val();
            $('.selected').children('td')[7].textContent = $('input[name=t]').val();
            $('.selected').children('td')[8].textContent = $('select[name=emp]').val();
            $('.selected').children('td')[9].textContent = $('select[name=rating]').val();
            getMsg('Обновлено');
        });

        function isAdmin() {
            var isAdmin = '@ViewData["IsAdmin"]'.toLowerCase();
            return isAdmin === "true";
        }

        function getMsg(msg) {
            if (msg == undefined)
                msg = 'Ошибка';
            $('#msg_display').text(msg);
            $('#msg_display').css('display', 'block');
            $('#msg_display').fadeOut(2000, function () {
                $('#msg_display').css('display', 'none');
            });
        }
        $('.editButton').click(function () {
            $('#editModal').modal('show');
        });
    });
</script>






