@using Radiostanciya.Models
@using Radiostanciya.ViewModels
@using Radiostanciya.ViewModels.ScheuduleViewModels
@model IndexViewModel
@addTagHelper "*, Radiostanciya"
@{
    ViewData["Title"] = "Расписание";
}
<h1>Расписание</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FilterModal">
    Фильтры
</button></br>

@if (User.IsInRole("Admin"))
{
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
        Добавить
    </button>
}
<div class="modal" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="FilterModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="FilterModalLabel">Фильтры</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <label class="control-label">Сотрудник: </label>
                    @Html.TextBox("Name", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })
                    <label class="control-label">Запись: </label>
                    @Html.TextBox("Record", Model.FilterViewModel.SelectedName,
                             htmlAttributes: new { @class = "form-control" })
                    <div class="form-inline">
                        <input type="submit" value="Поиск" class="btn btn-info" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-xl">
    <table class="table table-striped table-hover mx-auto" id="data">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Номер</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.EmployeeSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Сотрудник</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.RecordSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Запись</a>
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Время начала
                </th>
                <th>
                    Время окончания
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Schedule u in Model.Schedules)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@Model.Employees.First(p => p.Id == u.EmployeeId).Name</td>
                    <td>@Model.Records.First(p => p.Id == u.RecordId).Name</td>
                    <td>@u.DFormat(u.Date)</td><td>@u.TFormat(u.Start)</td>
                    <td>@u.TFormat(u.End)</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <button class="editButton btn btn-primary">Управление</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.PageNumber - 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&laquo;</span>
                </li>
            }

            @if (Model.PageViewModel.TotalPages <= 10)
            {
                @for (var i = 1; i <= Model.PageViewModel.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                    </li>
                }
            }
            else
            {
                @if (Model.PageViewModel.PageNumber <= 5)
                {
                    for (var i = 1; i <= 7; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.TotalPages, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@Model.PageViewModel.TotalPages</a>
                    </li>
                }
                else if (Model.PageViewModel.PageNumber > Model.PageViewModel.TotalPages - 5)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">1</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    for (var i = Model.PageViewModel.TotalPages - 6; i <= Model.PageViewModel.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">1</a>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    for (var i = Model.PageViewModel.PageNumber - 2; i <= Model.PageViewModel.PageNumber + 2; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@i</a>
                        </li>
                    }
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.TotalPages, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })">@Model.PageViewModel.TotalPages</a>
                    </li>
                }
            }

            @if (Model.PageViewModel.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageViewModel.PageNumber + 1, name = Model.FilterViewModel.SelectedName, company = Model.FilterViewModel.SelectedId, sortOrder = Model.SortViewModel.Current })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
            }
        </ul>
    </nav>

</div>

<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование/Удаление/Добавление записи</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" name="edit">
                    <h3>Управление данными</h3><br />
                    <table class="table">
                        <tr>
                            <td><label class="control-label">Номер</label></td>
                            <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Сотрудник</label></td>
                            <td colspan="2">
                                <select name="emp">
                                    @foreach (Employee b in Model.Employees)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Запись</label></td>
                            <td colspan="2">
                                <select name="record">
                                    @foreach (Record b in Model.Records)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Дата</label></td>
                            <td colspan="2"><input type="date" name="d" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Время начала</label></td>
                            <td colspan="2"><input type="time" name="start" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Время окончания</label></td>
                            <td colspan="2"><input type="time" name="end" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="del" value="Удалить" class="btn btn-danger" /></td>
                            <td><input type="button" name="upd" value="Обновить" class="btn btn-warning" /></td>
                        </tr>
                    </table>
                    <div id="msg_display"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Добавление записи</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <table class="table">
                        <tr>
                            <td><label class="control-label">Номер</label></td>
                            <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Сотрудник</label></td>
                            <td colspan="2">
                                <select name="emp">
                                    @foreach (Employee b in Model.Employees)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Запись</label></td>
                            <td colspan="2">
                                <select name="record">
                                    @foreach (Record b in Model.Records)
                                    {
                                        <option id="@b.Id">@b.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Дата</label></td>
                            <td colspan="2"><input type="date" name="d" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Время начала</label></td>
                            <td colspan="2"><input type="time" name="start" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Время окончания</label></td>
                            <td colspan="2"><input type="time" name="end" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Добавить" class="btn btn-success" /></td>
                        </tr>
                    </table>
                    <div id="msg_display"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        function setSelectedRecord() {
            var selectedId = localStorage.getItem('selectedScheduleId');
            if (selectedId) {
                var selectedRow = $('#data tbody tr').filter(function () {
                    return $(this).children('td')[0].textContent === selectedId;
                });
                if (selectedRow.length > 0) {
                    selectedRow.addClass('selected');
                    updateFormFields(selectedRow);
                }
            }
        }

        function updateFormFields(selectedRow) {
            $('input[name=number]').val(selectedRow.children('td')[0].textContent);
            $('select[name=emp]').val(selectedRow.children('td')[1].textContent);
            $('select[name=record]').val(selectedRow.children('td')[2].textContent);
            $('input[name=d]').val(selectedRow.children('td')[3].textContent);
            $('input[name=start]').val(selectedRow.children('td')[4].textContent);
            $('input[name=end]').val(selectedRow.children('td')[5].textContent);
        }

        setSelectedRecord();

        $('#data tbody tr').click(function () {
            $('#data tbody tr').removeClass('selected');
            updateFormFields($(this));
            $(this).addClass('selected');
            localStorage.setItem('selectedScheduleId', $(this).children('td')[0].textContent);
        });

        $('button[data-target="#addModal"]').click(function () {
            // Очистка полей формы перед открытием модального окна
            $('#addModal input[name="start"]').val('');
            $('#addModal input[name="record"]').val('');
            $('#addModal input[name="end"]').val('');
            $('#addModal input[name="emp"]').val('');
            $('#addModal input[name="d"]').val('');

            // Открытие модального окна
            $('#AddModal').modal('show');
        });

        // Обработчик кнопки "Добавить" в модальном окне добавления записи
        $('#addModal input[type="button"]').click(function () {
            // Ваш код добавления записи, например:
            $.getJSON('/Scheudules/Insert', {
                end: $('#addModal input[name="end"]').val(),
                date: $('#addModal input[name="d"]').val(),
                start: $('#addModal input[name="start"]').val(),
                empId: $('#addModal select[name="emp"]').find(":selected").attr("id"),
                recordId: $('#addModal select[name="record"]').find(":selected").attr("id")
            })
                .done(function () {
                    // Добавьте этот блок кода
                    $('#AddModal').modal('hide');
                    location.reload();
                })
                .fail(function () {
                    alert('Произошла ошибка при добавлении записи.');
                });
        });

        $('input[name=del]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }
            $.getJSON('/Scheudules/Delete?id=' + $('input[name=number]').val(), null, function () {
                // Добавьте этот блок кода
                $('#editModal').modal('hide');
                location.reload();
            });
            $('.selected').remove();
            getMsg('Удалено');
        });

        $('input[name=upd]').click(function () {
            // Проверка на админа
            if (!isAdmin()) {
                alert("Доступ запрещен. Только администраторы могут выполнять данное действие.");
                return;
            }
            $.getJSON('/Scheudules/Update?id=' + $('input[name=number]').val() +
                '&empId=' + $('select[name=emp]').find(":selected").attr("id") +
                '&recordId=' + $('select[name=record]').find(":selected").attr("id") +
                '&date=' + $('input[name=d]').val() +
                '&start=' + $('input[name=start]').val() +
                '&end=' + $('input[name=end]').val(), null, function () {
                    // Добавьте этот блок кода
                    $('#editModal').modal('hide');
                    location.reload();
                });
            $('.selected').children('td')[1].textContent = $('select[name=emp]').val();
            $('.selected').children('td')[2].textContent = $('select[name=record]').val();
            $('.selected').children('td')[3].textContent = $('input[name=d]').val();
            $('.selected').children('td')[4].textContent = $('input[name=start]').val();
            $('.selected').children('td')[5].textContent = $('input[name=end]').val();
            getMsg('Обновлено');
        });

        function getMsg(msg) {
            if (msg == undefined)
                msg = 'Ошибка';
            $('#msg_display').text(msg);
            $('#msg_display').css('display', 'block');
            $('#msg_display').fadeOut(2000, function () {
                $('#msg_display').css('display', 'none');
            });
        }

        function isAdmin() {
            var isAdmin = '@ViewData["IsAdmin"]'.toLowerCase();
            return isAdmin === "true";
        }

        $('#editButton').click(function () {
            $('#editModal').modal('show');
        });
    });
</script>


