@using Radiostanciya.Models
@using Radiostanciya.ViewModels
@using Radiostanciya.ViewModels.GenreViewModels
@model IndexViewModel
@addTagHelper "*, Radiostanciya"
@{
    ViewData["Title"] = "Genres";
}
<h1>Список жанров</h1>
<form method="get">
    <div class="form-inline">
        @*<label class="control-label">Номер: </label>
            @Html.TextBox("Id", Model.IndexViewModel.SelectedId, htmlAttributes: new { @class = "form-control" })*@

        <label class="control-label">Название: </label>
        @Html.TextBox("Name", Model.FilterViewModel.SelectedName,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>
<br />
<div class="cell">
    <table class="table" id="data">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-route-sortOrder="@(Model.SortViewModel.IdSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Номер</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                       asp-route-name="@(Model.FilterViewModel.SelectedName)"
                       asp-route-Organization="@(Model.FilterViewModel.SelectedId)">Название</a>
                </th>
                <th>Описание
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Genre u in Model.Genres)
            {
                <tr><td>@u.Id</td><td>@u.Name</td><td>@u.Description</td></tr>
            }
        </tbody>
    </table>
    <page-link page-model="@Model.PageViewModel" page-action="Index"
               page-url-name="@(Model.FilterViewModel.SelectedName)"
               page-url-company="@(Model.FilterViewModel.SelectedId)"
               page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
</div>
@if (User.IsInRole("Admin"))
{
    <form name="edit" class="cell">
    <h3>Редактирование данных</h3><br />
    <table class="table">
        <tr>
            <td><label class="control-label">Номер</label></td>
            <td colspan="2"><input type="text" name="number" readonly class="form-control" /></td>
        </tr>
        <tr>
            <td><label class="control-label">Название</label></td>
            <td colspan="2"><input type="text" name="name" class="form-control" /></td>
        </tr>
        <tr>
            <td><label class="control-label">Описание</label></td>
            <td colspan="2"><input type="text" name="desc" class="form-control" /></td>
        </tr>
        <tr>
            <td><input type="button" name="add" value="Добавить" class="btn btn-default" /></td>
            <td><input type="button" name="del" value="Удалить" class="btn btn-default" /></td>
            <td><input type="button" name="upd" value="Обновить" class="btn btn-default" /></td>
        </tr>
    </table>
    <div id="msg_display"></div>
</form>
}

<script type="text/javascript">
    $(function () {
        function setSelectedRecord() {
            var selectedId = localStorage.getItem('selectedId');
            if (selectedId) {
                var selectedRow = $('#data tbody tr').filter(function () {
                    return $(this).children('td')[0].textContent === selectedId;
                });
                if (selectedRow.length > 0) {
                    selectedRow.addClass('selected');
                    $('input[name=number]').val(selectedRow.children('td')[0].textContent);
                    $('input[name=name]').val(selectedRow.children('td')[1].textContent);
                    $('input[name=desc]').val(selectedRow.children('td')[2].textContent);
                }
            }
        }

        setSelectedRecord();

        $('#data tbody tr').click(function () {
            $('#data tbody tr').removeClass('selected');
            $('input[name=number]').val($(this).children('td')[0].textContent);
            $('input[name=name]').val($(this).children('td')[1].textContent);
            $('input[name=desc]').val($(this).children('td')[2].textContent);
            $(this).addClass('selected');
            localStorage.setItem('selectedId', $(this).children('td')[0].textContent);
        });

        $('input[name=add]').click(function () {
            $.getJSON('/Genres/Insert?name=' + $('input[name=name]').val() +
                '&description=' + $('input[name=desc]').val(), null);
            getMsg('Добавлено');
        });

        $('input[name=del]').click(function () {
            $.getJSON('/Genres/Delete?id=' + $('input[name=number]').val(), null);
            $('.selected').remove();
            getMsg('Удалено');
        });

        $('input[name=upd]').click(function () {
            $.getJSON('/Genres/Update?id=' + $('input[name=number]').val() + '&name=' + $('input[name=name]').val() +
                '&desc=' + $('input[name=desc]').val(), null);
            $('.selected').children('td')[1].textContent = $('input[name=name]').val();
            $('.selected').children('td')[2].textContent = $('input[name=desc]').val();
            getMsg('Обновлено');
        });

        function getMsg(msg) {
            if (msg == undefined)
                msg = 'Ошибка';
            $('#msg_display').text(msg);
            $('#msg_display').css('display', 'block');
            $('#msg_display').fadeOut(2000, function () {
                $('#msg_display').css('display', 'none');
            });
        }
    });
</script>

