@using Radiostanciya.Extensions
@using Radiostanciya.Models
@using Radiostanciya.ViewModels
@using Radiostanciya.ViewModels.DashboardViewModels

@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .col {
            flex-basis: 30%;
        }

        .list-group {
            margin-top: 10px;
        }
    </style>
</head>

<div class="row container-xl ml-2 mr-2">
    <div class="col" style="border-right: solid black 1px;">
        <div class="row">
            <a href="#" class="col-1" style="font-size: xxx-large;" onclick="handleArrowClick(-1)">←</a>
            <h1 class="text-center col">
                @if (Model.YesterdayDate.IsEqualDay(DateTime.Now))
                {
                    <p>Сегодня</p>
                }
                else if (Model.YesterdayDate.IsEqualDay(DateTime.Now.AddDays(-1)))
                {
                    <p>Вчера</p>
                }
                else if (Model.YesterdayDate.IsEqualDay(DateTime.Now.AddDays(1)))
                {
                    <p>Завтра</p>
                }
                else
                {
                    @Model.YesterdayDate.Date.ToString("d")
                }
            </h1>
        </div>
        @if (Model.Yesterday.Count == 0)
        {
            <h4 class="text-center">Ничего нет!</h4>
        }
        else
        {
            <div class="list-group">
                @foreach (var translation in Model.Yesterday.OrderBy(t => t.Date))
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@translation.Record.Name</h5>
                        </div>
                        <p class="mb-1">Ведущий: @translation.Employee.Name</p>
                        <p class="mb-1">Время начала: @translation.Start.ToString("g")</p>
                        <p class="mb-1">Время окончания: @translation.End.ToString("g")</p>
                        <small class="text-muted">@translation.Date.ToString("g")</small>
                    </a>
                }
            </div>
        }
    </div>
    <div class="col" style="border-right: solid black 1px; border-left: solid black 1px;">
        <h1 class="text-center">
            @if (Model.TodayDate.IsEqualDay(DateTime.Now))
            {
                <p>Сегодня</p>
            }
            else if (Model.TodayDate.IsEqualDay(DateTime.Now.AddDays(-1)))
            {
                <p>Вчера</p>
            }
            else if (Model.TodayDate.IsEqualDay(DateTime.Now.AddDays(1)))
            {
                <p>Завтра</p>
            }
            else
            {
                @Model.TodayDate.Date.ToString("d")
            }
        </h1>
        @if (Model.Today.Count == 0)
        {
            <h4 class="text-center">Ничего нет!</h4>
        }
        else
        {
            <div class="list-group">
                @foreach (var translation in Model.Today.OrderBy(t => t.Date))
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@translation.Record.Name</h5>
                        </div>
                        <p class="mb-1">Ведущий: @translation.Employee.Name</p>
                        <p class="mb-1">Время начала: @translation.Start.ToString("g")</p>
                        <p class="mb-1">Время окончания: @translation.End.ToString("g")</p>
                        <small class="text-muted">@translation.Date.ToString("g")</small>
                    </a>
                }
            </div>
        }
    </div>
    <div class="col" style="border-left: solid black 1px;">
        <div class="row">
            <h1 class="text-center col">
                @if (Model.TomorrowDate.IsEqualDay(DateTime.Now))
                {
                    <p>Сегодня</p>
                }
                else if (Model.TomorrowDate.IsEqualDay(DateTime.Now.AddDays(-1)))
                {
                    <p>Вчера</p>
                }
                else if (Model.TomorrowDate.IsEqualDay(DateTime.Now.AddDays(1)))
                {
                    <p>Завтра</p>
                }
                else
                {
                    @Model.TomorrowDate.Date.ToString("d")
                }
            </h1>
            <a href="#" class="col-1" style="font-size: xxx-large;" onclick="handleArrowClick(1)">→</a>
        </div>
        @if (Model.Tomorrow.Count == 0)
        {
            <h4 class="text-center">Ничего нет!</h4>
        }
        else
        {
            <div class="list-group">
                @foreach (var translation in Model.Tomorrow.OrderBy(t => t.Date))
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@translation.Record.Name</h5>
                        </div>
                        <p class="mb-1">Ведущий: @translation.Employee.Name</p>
                        <p class="mb-1">Время начала: @translation.Start.ToString("g")</p>
                        <p class="mb-1">Время окончания: @translation.End.ToString("g")</p>
                        <small class="text-muted">@translation.Date.ToString("g")</small>
                    </a>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function handleArrowClick(value) {
            const query = window.location.href.split("?")
            let currentOffset = value;
            if (query.length !== 1) {
                const queryOffset = query[1].replace(/offset=/, "");
                currentOffset += Number(queryOffset);
            }
            window.location.replace("https://localhost:5001/?offset=" + currentOffset);
        }
    </script>
}
